    <div class="heading-sec">
      <div class="row">
        <div class="col-md-4 column">
          <div class="heading-profile">
            <h2 >Ajouter un produit</h2>
          </div>
        </div>
      </div>
    </div> 
    <div class="panel-content">
      <div class="row">
        <div class="col-lg-10 col-lg-push-1 col-md-12 col-md-push-0 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 padd10 ">
          <div class="widget">             
                  <form [formGroup]="form">  
                          <li>
                                <div class="sf_columns col-md-11">
                                    <label>nom</label>
                                    <input type="text" [(ngModel)]="product.name" formControlName="name" [ngClass]="{'error': !form.get('name').valid && showErrors}"/>                                   
                                  <div class="payment-desc" *ngIf="!form.get('name').valid && showErrors">
                                    <span><p>Veuillez renseigner le nom </p></span>
                                  </div>  

                                  </div>
                            </li>
                            <li>
                                    <div class="sf_columns col-md-11">
                                        <label>Prix</label>
                                        <input type="number" [(ngModel)]="product.price" formControlName="price" [ngClass]="{'error': !form.get('price').valid && showErrors}"/>                                  
                                      <div class="payment-desc" *ngIf="!form.get('price').valid && showErrors">
                                        <span><p>Veuillez renseigner le prix </p></span>
                                      </div>  
    
                                    </div>
                                </li>
                                <li>
                                        <div class="sf_columns col-md-11">
                                            <label>Description</label>
                                            <input type="text" [(ngModel)]="product.description" formControlName="description" [ngClass]="{'error': !form.get('description').valid && showErrors}"/>                                  
                                          <div class="payment-desc" *ngIf="!form.get('description').valid && showErrors">
                                            <span><p>Veuillez renseigner le description </p></span>
                                          </div>  
        
                                        </div>
                                    </li> 
                                    <li>
                                            <div class="sf_columns col-md-11">
                                             <label for="type">Type</label>
                                                <select class="form-control" formControlName="category_id" id="category_id" [(ngModel)]="product.category_id">
                                                  <option *ngFor="let category_id of categories" [ngValue]="category_id.id">{{category_id.name}}=>{{category_id.description}}</option>
                                             </select>
                                            <div class="payment-desc" *ngIf="!form.get('category_id').valid && showErrors">
                                                    <span><p>Veuillez renseigner le categorie </p></span>
                                            </div> 
            
                                            </div>
                                        </li>                                                                    
                  <div class="sf-steps-navigation sf-align-right">
                    <span id="sf-msg" class="sf-msg-error"></span>
            
                    <button  type="submit" class="btn btn-warning mdm-radius inputSubmit" (click)="addProduct()" >ENREGISTRER</button>  
                  </div>
                </form>
              </div>
            </div><!-- Step Form Sec -->
    </div>
</div><!-- Panel Content -->   


    
